*{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.height{
height: 166px;
}

body{
    margin:0;
    overflow-x:hidden
}

.green{
    background-color:#75BF7A ;
}
.text-green{
color:#75BF7A
}
.navlist{

}

gray{
    color: #B5B4B8;
}
font{
    font-size: 16.6;
    color:#9E9DA2
}

.circle{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: #75BF7A;
    margin: 0,auto;

}
img, div, section {
    max-width: 100%;
    box-sizing: border-box;
  }

@media only screen and (max-width: 1000px) {
   .res-nav{
    text-align: center;
margin: 0,auto;
   }
.mobile-row{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mob{
    display: inline-block;

}
*{
    margin: 0,auto;
}

.column3{
    margin-top: 100px;
}

  }
  